<div class="container card subscribed">
    <img src="/assets/images/icon-success.svg">

    <div class="container content">
        <h1>Thanks for subscribing!</h1>
        <p>A confirmation email has been sent to a <spam id="user-email">{{{email}}}</spam> Please open it and click the button inside to confirm your subscription.</p>
        <a href="/">Dismiss message</a>
    </div>
</div>